

body{padding-bottom: 60px;}
.footer{position: fixed; bottom: 0px; left: 0px; right: 0px;}
.top-heading{display: flex; justify-content: space-between;}
table.table.table-striped tr td:last-child,
table.table.table-striped tr th:last-child {
    text-align: right;
}


@media (max-width:767px){
table.table.table-striped tr th:first-child {
display: none;
}
table.table.table-striped tr th:first-child {
display: none;
}

table.table.table-striped tr td {
display: block;
width: 100%;
}  
}